// transitions
.ripple-outer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.grow-enter-active,
.grow-leave-active {
  transition: all 1s ease;
}
.grow-enter-from {
  opacity: 1;
  transform: scale(0);
}

.grow-leave-to {
  opacity: 0;
  transform: scale(4);
}

// routes
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// intro
.long-fade-enter-active,
.long-fade-leave-active {
  transition: opacity 5s ease;
}

.long-fade-enter-from,
.long-fade-leave-to {
  opacity: 0;
}

// toast
.toast-slide-enter-active,
.toast-slide-leave-active {
  transition: 0.4s ease;
}

.toast-slide-enter-from,
.toast-slide-leave-to {
  transform: translateY(-100%);
}

// friends-list
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  scale: 0;
}

.list-leave-active {
  // position: absolute;
  // transition: none !important;
  // z-index: -1;
}

// modal
.modal-slide-up-enter-active,
.modal-slide-up-leave-active {
  transition: 0.4s ease;
}

.modal-slide-up-enter-from,
.modal-slide-up-leave-to {
  transform: translateY(100%);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: grey;
  margin: 0;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid gray;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent-color);
  background-color: red;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid orange;
  outline-offset: max(2px, 0.15em);
}
