// transitions
.ripple-outer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.ripple {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

.pulse {
  animation: pulse 0.3s ease;
}

.challenge-bonus-1-enter-active {
  animation: bounceIn 0.5s ease-in;
}
.challenge-bonus-1-leave-active {
  animation: correctTextLeave 0.3s ease-out;
}
// .challenge-bonus-1-enter-from {
//   opacity: 1;
//   transform: scale(0);
// }

// .challenge-bonus-1-leave-to {
//   opacity: 0;
//   transform: scale(4);
// }

.pulse {
  animation: pulse 0.5s ease-out forwards;
}

// grow
.grow-enter-active,
.grow-leave-active {
  transition: all 1s ease;
}
.grow-enter-from {
  opacity: 1;
  transform: scale(0);
}

.grow-leave-to {
  opacity: 0;
  transform: scale(4);
}

// popup-slideup
.popup-slideup-enter-active,
.popup-slideup-leave-active {
  transition: all 0.3s ease;
}
.popup-slideup-enter-from,
.popup-slideup-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

// correct text animation
.correct-text-enter-active {
  animation: bounceIn 0.4s ease-in;
}
.correct-text-leave-active {
  animation-duration: 0.4s;
  animation-name: correctTextLeave;
  animation-delay: 0.5s;
}
@keyframes correctTextLeave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// question slide
.question-slide-enter-active {
  animation: 0.2s ease-in lightSpeedInRight;
}
.question-slide-leave-active {
  animation: 0.2s ease-out lightSpeedOutLeft;
}

@keyframes questionEnter {
  0% {
    transform: translateX(110%);
  }
  // 50% {
  //   transform: translateX(150%);
  // }
  100% {
    transform: translateX(0%);
  }
}
@keyframes questionLeave {
  0% {
    transform: translateX(0%);
  }
  // 50% {
  //   transform: translateX(-150%);
  // }
  100% {
    transform: translateX(-110%);
  }
}

// routes
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// intro
.long-fade-enter-active,
.long-fade-leave-active {
  transition: opacity 0.1s ease;
}

.long-fade-enter-from,
.long-fade-leave-to {
  opacity: 0;
}

// notification
.toast-slide-enter-active,
.toast-slide-leave-active {
  transition: 0.2s ease;
}

.toast-slide-enter-from,
.toast-slide-leave-to {
  transform: translateY(-100%);
}

// friends-list
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  scale: 0;
}

.list-leave-active {
  // position: absolute;
  // transition: none !important;
  // z-index: -1;
}

// modal
.modal-slide-up-enter-active,
.modal-slide-up-leave-active {
  transition: 0.4s ease;
}

.modal-slide-up-enter-from,
.modal-slide-up-leave-to {
  transform: translateY(100%);
}

// bonus float up
.bonus-animate {
  animation: bonus-float-up 1s ease-out;
}

// tooltip
.tooltip-enter-active,
.tooltip-leave-active {
  transition: opacity 0.2s ease;
}

.tooltip-enter-from,
.tooltip-leave-to {
  opacity: 0;
  // transform: translateY(20%);
}

@keyframes bonus-float-up {
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

// -- test
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate__headShake {
  color: red;
  animation: headShake 0.5s;
}

.animate__heartBeat {
  color: rgb(18, 221, 18);
  animation: heartBeat 0.5s;
}

// @keyframes bounceIn {
//   from,
//   20%,
//   40%,
//   60%,
//   80%,
//   to {
//     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//   }

//   0% {
//     opacity: 0;
//     transform: scale3d(0.3, 0.3, 0.3);
//   }

//   40% {
//     transform: scale3d(1.1, 1.1, 1.1);
//   }

//   70% {
//     transform: scale3d(0.9, 0.9, 0.9);
//   }

//   to {
//     opacity: 1;
//     transform: scale3d(1, 1, 1);
//   }
// }
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes lightSpeedInLeft {
  from {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedInRight {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedOutRight {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOutLeft {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(40, 40, 1);
  }
}

@keyframes animatedBorder {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
