.monospace {
  font-family: monospace;
}

// fira
.fira-regular {
  font-family: "FiraSansRegular", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.fira-semibold {
  font-family: "FiraSansSemibold", sans-serif;
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

.fira-bold {
  font-family: "FiraSansBold", sans-serif;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.lekton-regular {
  font-family: "LektonRegular";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.lekton-bold {
  font-family: "LektonBold";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
