@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "FiraSansRegular", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #feac3e;
  --green-color: #519a58;
  --red-color: #d26542;
  --dark-blue-color: #424fd2;
  --grey-light: #3d3d3d;
  --grey-dark: #272727;
  // --grey-darker: #0f0f0f;
}

body {
  overflow-x: hidden;
}

#app {
  height: 100dvh;
}

.glass {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%);
  backdrop-filter: blur(10px);
  border-color: linear-gradient(180deg, rgba(182, 182, 182, 40%) 0%, rgba(182, 182, 182, 10%) 100%);
}

.tutorial-bg {
  background-size: 55dvh;
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-title {
  @apply text-3xl font-bold mt-2 leading-8 max-w-[80%];

  font-family: "FiraSansBlack", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.page-subtitle {
  @apply inline-block max-w-[80%];
}

.bg-pill-title {
  @apply text-[22px] leading-5 font-bold;

  font-family: "FiraSansCondensedBlack", sans-serif;
  font-weight: 900;
}

.bg-pill-subtitle {
  @apply text-[18px] text-gray-300 mt-4;

  font-family: "FiraSansCondensedRegular", sans-serif;
  font-weight: 400;
}

.triangle-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #535353 transparent transparent transparent;
  transform: rotate(0deg);
}

.triangle-up {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #535353 transparent;
  transform: rotate(0deg);
}

// navigation
.router-link-active {
  outline: 1px solid var(--accent-color);
  filter: none;
}

// battles
.yes-btn,
.no-btn {
  width: min(15vh, 85px);
  height: min(15vh, 85px);
  display: grid;
  place-items: center;
  border-radius: 1rem;
  position: relative;

  &:active {
    border-bottom: none;
    top: 3px;
  }
}

.yes-btn:active {
  background-color: #65b36d;
}

.no-btn:active {
  background-color: #e67955;
}

.four-answer-btn {
  @apply w-full !text-[16px] bg-[var(--dark-blue-color)] text-white min-h-[64px] overflow-hidden text-ellipsis border-b-4 border-[#252D7C];

  position: relative;

  &:active {
    background-color: #5b66e4;
    border-bottom: none;
    top: 3px;
  }
}

// custom radio
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: grey;
  margin: 0;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid gray;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent-color);
  background-color: red;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid orange;
  outline-offset: max(2px, 0.15em);
}
