@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "FiraSansRegular", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #000;

  font-synthesis: none;
  font-smooth: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #feac3e;
  --green-color: #519a58;
  --red-color: #d26542;
  --blue-color: #3c95e3;
  --dark-blue-color: #424fd2;
  --grey-light: #3d3d3d;
  --grey-dark: #272727;
  // --grey-darker: #0f0f0f;
  --green-gradient: linear-gradient(180deg, #519a58 0%, #2e7034 100%);
}

// colors
.green-gradient {
  background: linear-gradient(180deg, #519a58 0%, #2e7034 100%);
}

.generic-btn[disabled] {
  // color: #a1a5ae !important;
  background: #3e3e3e !important;
  span {
    color: #606060 !important;
  }
}

.glass {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 100%);
  backdrop-filter: blur(10px);
  border-color: linear-gradient(180deg, rgba(182, 182, 182, 40%) 0%, rgba(182, 182, 182, 10%) 100%);
}

.inline-svg {
  svg {
    display: inline !important;
    vertical-align: initial !important;
  }

  &.svg-top-margin {
    svg {
      position: relative;
      top: 3px;
    }
  }
}

.notification::before,
.notification::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(45deg, #ff595e, #ffca3a, #8ac926, #1982c4, #6a4c93, #ff6700);
  background-size: 400%;
  z-index: -1;
  animation: glow 20s linear infinite;
  width: 100%;
  border-radius: 0.75rem;
}

.notification::after {
  filter: blur(25px);
  transform: translate3d(0, 0, 0);
}

.tutorial-bg {
  background-size: 55dvh;
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-title {
  @apply text-3xl font-bold mt-2 leading-8 max-w-[80%];

  font-family: "FiraSansBlack", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.page-subtitle {
  @apply inline-block text-lg;
}

.bg-pill-title {
  @apply text-[22px] leading-5 font-bold;

  font-family: "FiraSansCondensedBlack", sans-serif;
  font-weight: 900;
}

.bg-pill-subtitle {
  @apply text-[18px] text-gray-300 mt-4;

  font-family: "FiraSansCondensedRegular", sans-serif;
  font-weight: 400;
}

.triangle-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #535353 transparent transparent transparent;
  transform: rotate(0deg);
}

.triangle-up {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #535353 transparent;
  transform: rotate(0deg);
}

// active navigation item
.router-link-active {
  .nav-icon {
    filter: none !important;
  }

  .nav-text {
    color: var(--accent-color);
  }
}

// battles
.yesno-btn.correct {
  background: linear-gradient(180deg, #098af5 0%, #0d75d4 100%) !important;
  box-shadow: 0px 0px 85px 5px rgba(0, 137, 249, 0.9);
}

.yesno-btn.wrong {
  background: linear-gradient(180deg, #ef0a07 0%, #a70401 100%) !important;
  box-shadow: 0px 0px 85px 5px rgba(167, 4, 1, 0.9);
}

.four-answer-btn {
  @apply w-full !text-base text-white h-[68px] overflow-hidden text-ellipsis px-4 leading-5;

  position: relative;

  &[disabled] {
    background-color: #505050 !important;
  }

  &.correct {
    background: linear-gradient(180deg, #098af5 0%, #0d75d4 100%) !important;
    box-shadow: 0px 0px 85px 5px rgba(0, 137, 249, 0.9);
  }

  &.wrong {
    background: linear-gradient(180deg, #ef0a07 0%, #a70401 100%) !important;
    box-shadow: 0px 0px 85px 5px rgba(167, 4, 1, 0.9);
  }
}

// custom radio
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: grey;
  margin: 0;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid gray;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent-color);
  background-color: red;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid orange;
  outline-offset: max(2px, 0.15em);
}
