@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #feac3e;
  --grey-light: #3d3d3d;
  --grey-dark: #272727;
  --grey-darker: #0f0f0f;
}

#app {
  height: 100dvh;
}

.tutorial-bg {
  background-size: 55dvh;
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-title {
  @apply text-3xl font-bold mt-2;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.page-subtitle {
  @apply mt-2 max-w-[80%];
}

.pill-title {
  @apply text-2xl font-bold mt-2;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

// navigation
.router-link-active {
  outline: 2px solid var(--accent-color);
  filter: none;
}

// transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.long-fade-enter-active,
.long-fade-leave-active {
  transition: opacity 5s ease;
}

.long-fade-enter-from,
.long-fade-leave-to {
  opacity: 0;
}

.toast-slide-enter-active,
.toast-slide-leave-active {
  transition: 0.5s ease;
}

.toast-slide-enter-from,
.toast-slide-leave-to {
  transform: translateY(-100%);
}
